[class^="btn-"] {
  position: relative;

  padding: 15px 20px;

  text-align: center;
  background-color: transparent;
  transition: all 0.3s ease;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn-primary{
  & ::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: .40;
  }
}
